<!DOCTYPE html>
<html>
  <head>
    <title>Wordpress Clone - Login</title>
  </head>
  <body>
    <h1>Log into your account</h1>
    <form method="POST">
      <p>
        <label for="username">Username</label>
        <% if (username) { %>
          <input type="text" id="username" name="username" value="<%= username %>">
        <% } else { %>
          <input type="text" id="username" name="username" placeholder="username">
        <% } %>
      </p>
      <p>
        <label for="password">Password</label>
        <% if (password) { %>
          <input type="text" id="password" name="password" value="<%= password %>">
        <% } else { %>
          <input type="text" id="password" name="password" placeholder="password">
        <% } %>
      </p>
      <input type="hidden" name="redirect" value="<%= redirect %>">
      <button type="submit">Login</button>
    </form>
    <% if (error) { %>
      <p style="color:red">
        <%= error.message %>
      </p>
    <% } %>
  </body>
</html>
