<!DOCTYPE html>
<html>
  <head>
    <title>Wordpress Clone - Error</title>
  </head>
  <body>
    <h1><%= error.httpStatus + " " + error.name %></h1>
    <pre><%= error.stack %></pre>
  </body>
</html>
